<notification [notification-message]="notificationMessage" (init-message)="initMessageEventReceiver()"></notification>

<button (click)='activerAjout()' class="btn">Nouvelle tâche</button>
<br>
<div class="col-md-6 well">

    <table class="table table-bordered">
        <thead>
            <th> Tâche </th>
            <th> Réalisateur </th>
        </thead>
        <tbody>
            <tr *ng-for="#taskEntity of people">
                <td>{{taskEntity.task}}</td>
                <td>{{taskEntity.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="openModal" [ng-class]="{modalDialog: true, showModal: ajout}">
    <div class="corpsModal">
        <add-task (task-added)="pushTaskEventReceiver($event)"> </add-task>
        <br>
        <button (click)='fermerAjout()' class="btn">Fermer</button>
    </div>

</div>