
      
    <add-task [people]= "people" class="col-md-6 well"  (every-second)="everySecond($event)" > </add-task>
    
    <div   class="col-md-5 col-md-offset-1 well">
        <button class="btn btn-info">Update!</button>
        <table class="table table-bordered table-condensed">
            <thead>
                <th> User </th>
                
            </thead>
            <tbody>
                <tr *ng-for="#task of people">
                    <td>{{task.name}}</td>
                    
                </tr>
            </tbody>

        </table>
    </div>