<notification [notification-message]="notificationMessage" (init-message)="initMessageEventReceiver()"></notification>
<add-task [people]="people" (task-added)="pushTaskEventReceiver($event)"> </add-task>
<div class="col-md-5 col-md-offset-1 well">
     
    <table class="table table-bordered">
        <thead>
            <th> Tâche </th>
            <th> Réalisateur </th>
        </thead>
        <tbody>
            <tr *ng-for="#taskEntity of people">
                <td>{{taskEntity.task}}</td>
                <td>{{taskEntity.name}}</td>              
            </tr>
        </tbody>
    </table>
</div>