<div class="well">
  <b>Liste des utilisateurs </b>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Roles</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ng-for="#utilisateur of utilisateurs">
        <th>{{utilisateur.id}}</th>
        <td>{{utilisateur.name}}</td>
        <td>{{utilisateur.email}}</td>
        <td>
          <b *ng-for="#role of utilisateur.roles">{{role}}, </b>
        </td>
        <td class="dropdown">
   
        <div class=" dropdown-toggle icon-preview btn btn-xs" data-toggle="dropdown">
          <i class="mdi-navigation-more-vert"></i>
        </div>
        <ul class="dropdown-menu">          
           <li><a (click)="edit(utilisateur)" href="javascript:void(0)" class="btn btn-flat btn-warning btn-xs">
             <!-- <i class="mdi-content-create pull-right"> --></i>Edit</a>
           </li>
            <li><a (click)="edit(utilisateur)" href="javascript:void(0)" class="btn btn-flat btn-danger btn-xs">
             <!-- <i class="mdi-content-create pull-right"> --></i>Supprimer</a>
           </li>
           
           
        </ul>
     
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <div id="openModal" [ng-class]="{modalDialog: true, showModal: edition}">    
    <div class="corpsModal" *ng-if="edition">
      <h6>Ajouter/Editer utilisateur </h6>
      <ajouter-utilisateur-form [utilisateur]="utilisateurAEditer"></ajouter-utilisateur-form>
      <br>
      <button (click)="fermerEdition()" class="btn btn-gray">Fermer</button>
    </div>
  </div>