.router-link-active {	 
	font-weight: 600;
	color: black !important;
}
body {
  padding-top: 2%;
  background-color: #EEEEEE;
  /*font-family:'Lato', sans-serif;*/
  font-size: 13px;
}

.btn.btn-fab i {
    position: relative;
    top: 0px;
    font-size: x-large;
}
.showLeftmenu{
    display: normal;
}
.hideLeftmenu{
    display: none;
}

.panel-primary > .panel-heading {
    background-color: #607D8B;
}

.btn-blue{
    background-color: #2196F3 !important;
    color: white !important;
    font-weight: 700;
    text-transform: none;
    font-family: inherit;
    font-size: 13px !important;
}
.btn-border-gray{
        border: 1px solid #9E9E9E;
}
.dropdown-li-element{
    border: 1px solid #2196F3;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
    /* line-height: 1.42857143; */
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: small;
}
 

.leftMenuContainer{
	background:white;
}
.leftMenuUl{	
list-style: none;
}
.leftMenuElement{
	
font-size: 15px;
	
margin-top: 2px;
}

 
#notification {
    position: absolute;
    top: 15%;
    left: 40%;
    background-color: #FF9800;
    color: black;
    z-index: 999;
    border: 1px solid #FF9800;
    padding: 5px;
    font-weight: 600;
}
#notification button{
    margin-left: 20px;
    border-radius: 20px;
    background: white;
    color: red;
    font-weight: bold;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: -10%; /* */
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.showModal{
	opacity:1;
	pointer-events: auto;
}

.corpsModal {
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}
input,select {
    background-color: #FFF;
    border: 1px solid #8A9BA8;
    box-shadow: 0px 1px 1px #F2F2F2 inset;
    color: #424F59;
    outline: 0px none;
    position: relative;
    transition-duration: 150ms;
    transition-property: border-color;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    z-index: 2;
    font-size: 16px;
    transition: border-color 150ms ease 0s;
}
input:focus {
    border-color: #0095DD;
    border-bottom: 2px solid #0095DD;
}

 
 